@import url('//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css');
@import url('//fonts.googleapis.com/css?family=Titillium+Web:700|Source+Serif+Pro:400,700|Merriweather+Sans:400,700|Source+Sans+Pro:400,300,600,700,300italic,400italic,600italic,700italic');

@tailwind base;
@tailwind components;
@tailwind utilities;
